
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #222;
}

.music {
    position: relative;
    display: grid;
    place-items: center;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: .5),
                -10px -10px 20px rgba($color: #fff, $alpha: .1),
                inset 10px 10px 20px rgba($color: #000000, $alpha: .5),
                inset -10px -10px 20px rgba($color: #fff, $alpha: .1);
    border-radius: 50px;
    padding: 30px;
}

.title-box {
    display: inline-flex;
    padding: 20px;
    box-shadow: inset 5px 5px 10px rgba($color: #000000, $alpha: .5),
                inset -5px -5px 10px rgba($color: #fff, $alpha: .1);
    border-radius: 10px;
}

.title {
    color: crimson;
    font-weight: 700;
    width: 98%;
    margin: auto;
}

.status {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;

    #seek-slider {
        width: 100%;
        background: transparent;
    }
}

.player {
    position: relative;
    width: 300px;
    display: grid;
    place-items: center;
}

.btns {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}

.icon {
    position: absolute;
    font-size: 1em;
    color: #777;
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: .5),
                -5px -5px 10px rgba($color: #fff, $alpha: .1);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.playpause {
    width: 70px;
    height: 70px;
    font-size: 2em;
}

.icon:active {
    box-shadow: 
    inset 5px 5px 10px rgba($color: #000000, $alpha: .5),
    inset -5px -5px 10px rgba($color: #fff, $alpha: .1);
    color: crimson;
}

.icon.active {
    box-shadow: 
    inset 5px 5px 10px rgba($color: #000000, $alpha: .5),
    inset -5px -5px 10px rgba($color: #fff, $alpha: .1);
    color: crimson;
}

.volume {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}













#volume-slider {
    margin: 8px 0;
}

#volume-slider::-webkit-slider-runnable-track {
    background: rgba(219, 20, 60, 1);
}

input[type="range"] {
    // position: relative;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    // width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(219, 20, 60, 0.6) var(--buffered-width), rgba(219, 20, 60, 0.2) var(--buffered-width));
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #db143c;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: black;
}
input[type="range"]::-moz-range-track {
    // width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(219, 20, 60, 0.6) var(--buffered-width), rgba(219, 20, 60, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #db143c;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #db143c;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #db143c;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #db143c;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(219, 20, 60, 0.6) var(--buffered-width), rgba(219, 20, 60, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #db143c;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #db143c;
}

.others {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}









// output {
//     display: inline-block;
//     width: 32px;
//     text-align: center;
//     font-size: 20px;
//     margin: 10px 2.5% 0 5%;
//     float: left;
//     clear: left;
// }

// #volume-slider {
//     margin: 10px 2.5%;
//     width: 58%;
// }

// #volume-slider::-webkit-slider-runnable-track {
//     background: rgba(0, 125, 181, 0.6);
// }

// #volume-slider::-moz-range-track {
//     background: rgba(0, 125, 181, 0.6);
// }

// #volume-slider::-ms-fill-upper {
//     background: rgba(0, 125, 181, 0.6);
// }

// #volume-slider::before {
//     width: var(--volume-before-width);
// }

// input[type="range"] {
//     position: relative;
//     -webkit-appearance: none;
//     width: 48%;
//     margin: 0;
//     padding: 0;
//     height: 19px;
//     margin: 30px 2.5% 20px 2.5%;
//     float: left;
//     outline: none;
// }

// input[type="range"]::-webkit-slider-runnable-track {
//     width: 100%;
//     height: 3px;
//     cursor: pointer;
//     background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
// }

// input[type="range"]::before {
//     position: absolute;
//     content: "";
//     top: 8px;
//     left: 0;
//     width: var(--seek-before-width);
//     height: 3px;
//     background-color: #007db5;
//     cursor: pointer;
// }

// input[type="range"]::-webkit-slider-thumb {
//     position: relative;
//     -webkit-appearance: none;
//     box-sizing: content-box;
//     border: 1px solid #007db5;
//     height: 15px;
//     width: 15px;
//     border-radius: 50%;
//     background-color: #fff;
//     cursor: pointer;
//     margin: -7px 0 0 0;
// }

// input[type="range"]:active::-webkit-slider-thumb {
//     transform: scale(1.2);
//     background: #007db5;
// }

// input[type="range"]::-moz-range-track {
//     width: 100%;
//     height: 3px;
//     cursor: pointer;
//     background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
// }

// input[type="range"]::-moz-range-progress {
//     background-color: #007db5;
// }

// input[type="range"]::-moz-focus-outer {
//     border: 0;
// }

// input[type="range"]::-moz-range-thumb {
//     box-sizing: content-box;
//     border: 1px solid #007db5;
//     height: 15px;
//     width: 15px;
//     border-radius: 50%;
//     background-color: #fff;
//     cursor: pointer;
// }

// input[type="range"]:active::-moz-range-thumb {
//     transform: scale(1.2);
//     background: #007db5;
// }

// input[type="range"]::-ms-track {
//     width: 100%;
//     height: 3px;
//     cursor: pointer;
//     background: transparent;
//     border: solid transparent;
//     color: transparent;
// }

// input[type="range"]::-ms-fill-lower {
//     background-color: #007db5;
// }

// input[type="range"]::-ms-fill-upper {
//     background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
// }

// input[type="range"]::-ms-thumb {
//     box-sizing: content-box;
//     border: 1px solid #007db5;
//     height: 15px;
//     width: 15px;
//     border-radius: 50%;
//     background-color: #fff;
//     cursor: pointer;
// }

// input[type="range"]:active::-ms-thumb {
//     transform: scale(1.2);
//     background: #007db5;
// }
